

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*======================= Styling Begins Here =======================*/
html {
	/*background-color: #282B2D;*/
	font-family: 'Lato', Arial, Serif;

}

body , #mainWrapper{
	height: 100%;
	margin-bottom: 0;
	
}



#siteHeader {
	background-color: #282B2D;
	height: 76px;
}

#headerWrap {
	margin: 0 auto;
	position: relative;
}

.clearfix {
	content: "";
	clear: both;
}

#partnerIcon {
	height: 36px;
	/*width: 40px;*/
	color: white;
	position: absolute;
	left: 20px;
	top: 20px;
}

#partnerIcon h2 {
	line-height: 36px;
	margin:0;
	padding:0;
	font-weight: 400;
}

#partnerIcon span {
	font-size: .8em;
}

/* ================= NavIconAnimation ===================*/
#nav-icon3 {
	background-color: black;
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 36px;
	width: 40px;
	border-radius: 5px;
	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
 	transform: rotate(0deg);
 	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
  	cursor: pointer;

}

#nav-icon3::after {
	content: "";
	clear: both;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	left: 8px;
	width: 24px;
	height: 3px;
	border-radius: 1px;
	background-color: white;
	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
 	-webkit-transition: .25s ease-in-out;
  	-moz-transition: .25s ease-in-out;
  	-o-transition: .25s ease-in-out;
 	transition: .25s ease-in-out;

}

#nav-icon3 span:nth-child(1) {
  top: 9px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 16px;

}

#nav-icon3 span:nth-child(4) {
  	top: 23px;
}

#nav-icon3.open span:nth-child(1) {
 	top: 17px;
  	width: 0%;
  	left: 50%;

}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
background-color: #00ffbf;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
left: 8px;
background-color: #00ffbf;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navBar {
	display: none;
	position: relative;
	top: 76px;
	width: 100%;
	padding:0;
	background-color: #282B2D;
	color: white;
	line-height: 50px;
	z-index: 1000;
	font-size: .7em;
	font-weight: 400;
}

#navBar.active {
	display: block;
}

#navItems {
	margin: 0;
	list-style: none;
	padding-bottom: 10px;
}

#navItems i {
	display: none;
	margin-left: 15px;
}

.navlink {
	border-top: solid 1px rgba(255,255,255,.1);
	margin-left: -20px;
	margin-right: 20px;
	border-radius: 5px;
	padding: 0 10px;
	/*position: relative;*/
}

.navlink:hover {
	background-color: rgba(0,0,0,.2);
}


#navBar a {
	text-decoration: none;
	color: white;
	width: 100%;

}

#navBar a:hover {
	color: white;
	
}

.goIcon {
	display: none;
}

#navBar a:hover .goIcon {
	display: inline;
	color: #00ffbf;
}
/* ================= End NavIconAnimation ===================*/

#partnerImage {
	background: url(images/stock-sunset.jpg) no-repeat 50% / cover;	
	width: 100%;
	height: 265px;
	position: relative;
	border-bottom: solid 1px white;
	margin-bottom: 0;
	padding-bottom: 0;
	
}

#partnerImage h4 {
	position: absolute;
	color: #282B2D;
	bottom: 6%;
	left: 3%;
	width: 190px;
	margin: 0;
	padding: 5px;
	border-radius: 0px;
	font-weight: 400;
	font-size: .9em;
	letter-spacing: 2px;
	background-color: white;
}

/*===== weather divs =====*/


#weeklyHeading, #weeklyHeading p {
	color: white;
	margin: 0;
	padding: 0;
}


#weeklyHeading {
	width: 90%;
	margin: 0 auto;
	padding-top: 5px;
	position: relative;
	background-color: #282B2D;
}

#weeklyHeading a {
	text-decoration: none;
	color: silver;
}
#weeklyHeading:hover {
	cursor: pointer;
}


 #weeklyHeading p {
 	font-size: .5em;
 	margin-left: 10px;
 }
#weatherForcastOuter {
	/*height: 230px;*/
	background-color: #282B2D;
	margin: 0;
	padding-bottom: 25px;
}
#weatherForcastOuter.inactive {
	display: none;
}

#dailyForcast {
	padding:0 0 10px 0;
	margin: 0;
	color: white;
}
#currentConditions {
	font-weight: 100;
	/*margin: 0 0 10px 0;*/
	padding: 0;
}
#currentConditions h4, #currentConditions h2 {
	padding-top: 10px;
	margin: 0;
	font-weight: 100;
}
#currentConditions h4 {
	font-size: .7em;
}

#currentConditions h2 {
	font-size: 1.1rem;
}

#dailyForcast, #weeklyForcast {
	text-align: center;
}

.weatherClose {
	color: #00ffbf;
	position: absolute;
	right: 10px;
	top: 0;
}
#weeklyForcast {
	display: table;
	width: 90%;
	margin: 5px auto;
	height: 100px;
	padding: 0;
	background-color: rgba(0,0,0,.2);
	border-radius: 5px;
}

#weeklyForcast.inactive {
	display: none;
}
#dailyForcast.inactive {
	display: none;
}



.dailyData {
	display: table-cell;
}

.weather-icon {
	font-family: 'MeteoconsRegular';
}

.dailyData h4 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: .8em;
}

.dailyData h4:nth-child(1) {
	margin-top: 5px;
}

.dailyData h4:nth-child(2) {
	font-size: 1.2em;
	line-height: 40px;
}

.dailyData h4:nth-child(4) {
	color: silver;
}

.weatherClose {
	color: #00ffbf;
	position: absolute;
	right: 10px;
}

.weatherClose.inactive {
	color: white;
	-webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-o-transform: rotate(180deg);
	transform: rotate(180deg);

}

/*===== End Weather Divs =====*/

/*===== Begin results.asp Content Divs =====*/
#resultsInsert {
	width: 90%;
	margin: 75px auto;
	height: 400px; /*remove this later !!!!*/
	text-align: center; /*remove this later !!!!*/
	border: solid 1px black;
	border-radius: 1px;
	box-shadow: 
}
#resultsInsert ul {
	list-style: none;
	padding: 0;
	margin:  10px 0;
}

/*===== End Results.asp Divs =====*/

/*===== Begin Footer Content Divs =====*/

footer {
	background-color: #282B2D;
	color: white;
	font-size: .8em;
	/*margin-top: 100px;*/
	margin-bottom: 0;
	padding: 10px 0 0 0;
	letter-spacing: 1px;
}
footer ul {
	list-style: none;
	padding:0;
	margin:0 20px;
}

.mainFooterLink {
	padding: 20px 10px;
	margin: 0 0 10px 0;
	position: relative;
	border-bottom: solid 1px rgba(255,255,255,.1);
	border-radius: 5px;
	font-size: 1em;
	font-weight: 400;
	color: white;
}



.mainFooterLink.active {
 	padding-bottom: 0;
 	margin-bottom: 10px;
 	background-color: rgba(0,0,0,.8);
 	color: #00ffbf;
}
.mainFooterLink.active:hover {
	background-color: black;
}

.mainFooterLink:hover {
	background-color: rgba(0,0,0,.5);
}

.openDownArrow {
	padding: 5px 20px;
	display: inline;
	color: white;
	position: absolute;
	right: 10px;
	font-size: 1.2em;
}

.openDownArrow:hover, .footerHiddenInfo:hover {
	cursor: pointer;
}

.openDownArrow.open {
	color: #00ffbf;
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
	transform: rotate(180deg);
}
 

 footer h5 {
 	text-align: center;
 	padding-bottom: 30px;
 	margin-bottom: 0;
 }

 footer img {
 	height: 18px;
 	width: 68px;
 	border-radius: 1px;
 	-webkit-transform: translateY(20%);
  	-ms-transform: translateY(20%);
  	transform: translateY(20%);
 }

 .footerHiddenInfo {
 	display: none;
 	width: 100%;
 	margin: 0;
 	padding: 5px 0;
 	color: white;
 }

.footerHiddenInfo.active {
	/*display: block;*/
}

 .footerHiddenInfoItems {
	margin:0;
	padding: 10px;
	font-size: .9em;
	border-top: solid 1px rgba(255,255,255,.1);
	border-radius: 5px;
	line-height: 25px;
 }

 .footerHiddenInfoItems:first-child {
	margin-top: 15px;
}
 .footerHiddenInfoItems:hover {
 	background-color: rgba(255,255,255,.1)
 }

 .phoneLink a {
 	color: white;
 	text-decoration: none;
 }


/* =================== Media Queries  =================== */

/*iPad width*/
@media (min-width: 768px) {
	#partnerImage {
		height: 320px;
	}

	#partnerImage h4 {
		width: 220px;
		font-size: 1.1em;
	}
	#navBar {
		font-size: .9em;
	}

	.navlink {
		height: 61px;
		line-height: 60px;
		
	}

	/*===== weather divs =====*/
	#weatherForcastOuter {
		padding-bottom: 35px;
		max-width: 
	}

	#dailyForcast {
		/*padding-top: 20px;*/
	}
	#currentConditions {
		font-weight: 100;
		margin: 0 0 20px 0;
	}
	#currentConditions h4 {
		font-size: .9em;
	}

	#currentConditions h2 {
		font-size: 1.4rem;
	}

	#weeklyForcast {
		margin: 5px auto;
		height: 120px;
	}

	#weeklyHeading p {
 		font-size: .8em;
 	}

	.dailyData h4 {

		font-size: 1em;
	}

	.dailyData h4:nth-child(1) {
		margin-top: 6px;
	}

	.dailyData h4:nth-child(2) {
		font-size: 1.4em;
		line-height: 50px;
	}

	.mainFooterLink {
		padding: 20px 10px;
		margin: 0 0 10px 0;
		border-bottom: solid 1px rgba(255,255,255,.1);
		border-radius: 5px;
		font-size: 1.2em;
		font-weight: 400;
		color: white;
	} 
	.footerHiddenInfoItems {
		/*margin: 15px 0;*/
		padding: 15px;
	}
	.footerHiddenInfoItems:first-child {
		margin-top: 20px;
	}
}

/*Desktop/Laptop width*/
@media (min-width: 1024px) {

	#headerWrap {
		max-width: 1180px;
	}

	#weeklyHeading, #weeklyForcast, #resultsInsert, footer > ul, footer > h5 {
	
	max-width: 1180px;
}

	#nav-icon3, #nav-icon3.open {
		display: none;
	}

	#navBar {
		display: block !important; /*need important to correct class toggle*/
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 12px;
		width: 50%;
	}

	#navItems {
		display: inline;
		padding: 0;
		margin-right: 0;
	}


.navlink {
	display: inline;
	float: right;
	border: none;
	
	/*position: relative;*/
}


	#partnerImage {
		height: 360px;
	}

	#partnerImage h4 {
		width: 400px;
		font-size: 1.8em;
		font-weight: 300;
		left: 58%;
	}
	#navBar {
		font-size: .9em;
	}

	.navlink {
		height: 61px;
		line-height: 60px;
		
	}

	/*===== weather divs =====*/
	#weatherForcastOuter {
		padding-bottom: 35px;
	}
	#currentConditions h4, #currentConditions h2 {
		font-weight: 300;
	}
	#currentConditions {
		font-weight: 100;
		margin: 0 0 20px 0;
	}
	#currentConditions h4 {
		font-size: .9em;
	}

	#currentConditions h2 {
		font-size: 1.4rem;
	}

	#weeklyForcast {
		margin: 5px auto;
		height: 120px;
	}

	#weeklyHeading p {
 		font-size: .8em;
 	}

	.dailyData h4 {

		font-size: 1em;
	}

	.dailyData h4:nth-child(1) {
		margin-top: 6px;
	}

	.dailyData h4:nth-child(2) {
		font-size: 1.4em;
		line-height: 50px;
	}

	footer ul, footer h5 {
		margin: 0 auto;
	}

	.mainFooterLink {
		padding: 20px 10px;
		margin: 0 0 10px 0;
		border-bottom: solid 1px rgba(255,255,255,.1);
		border-radius: 5px;
		font-size: 1em;
		font-weight: 400;
		color: white;
	} 
	.footerHiddenInfoItems {
		/*margin: 15px 0;*/
		padding: 15px;
	}
	.footerHiddenInfoItems:first-child {
		margin-top: 20px;
	}
}

}






